@import url("http://fonts.cdnfonts.com/css/airbnb-cereal-app");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-family: 'Airbnb Cereal App', sans-serif;
}

#main {
  max-width: 612px;
  min-width: 612px;
  margin: auto;
}

.index-section {
  background: #000000;
  padding: 100px 0px;
  position: relative;
}

.index-section .site-logo {
  height: 100px;
  margin: 0px auto 80px auto;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.index-section .site-logo img {
  height: inherit;
}

.index-section .drone-hand {
  position: absolute;
  right: 0;
  width: 100px;
}

.index-section .drone-hand img {
  width: inherit;
}

.index-section__body {
  color: white;
  position: relative;
  padding: 0px 40px;
}

.index-section__body--image {
  width: 100%;
  margin: auto;
  display: block;
  margin-left: -30px;
}

.index-section__body .body-container {
  position: absolute;
  bottom: 30px;
  right: 20px;
}

.index-section__body .section-header-container {
  position: relative;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.index-section__body .section-header-container .section-header {
  font-size: 1.8rem;
  max-width: 300px;
}

.index-section__body .section-header-container .drone-image {
  height: 45px;
  position: absolute;
  bottom: -5px;
  right: 20px;
}

.index-section__body .site-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 15px;
  grid-gap: 15px;
  margin-top: 20px;
}

.index-section__body .site-address .location-icon {
  width: 25px;
}

.hero-section, .hero-section__content-box {
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/app-bg-black.png");
  position: relative;
  color: #ffffff;
  padding-bottom: 90px;
}

.hero-section *, .hero-section__content-box * {
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}

.hero-section * img, .hero-section__content-box * img {
  pointer-events: none;
}

.hero-section__content-box {
  padding-top: 40px;
  min-height: 90%;
  background-image: url("../images/app-weather-map.png");
  background-size: contain;
  background-position: 0px 100px;
}

.hero-section__content-box--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-section__content-box--header .logo {
  height: 40px;
}

.hero-section__content-box--header .logo .actual-image {
  height: inherit;
}

.hero-section__content-box--header .title {
  font-weight: 800;
  font-size: 1.3rem;
  border-left: 3px solid white;
  padding-left: 1.4rem;
  margin-left: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-section__content-box--header .title .tm-logo {
  width: 20px;
  margin-top: -10px;
  margin-left: 3px;
}

.hero-section__content-box--cloud {
  height: 150px;
  display: block;
  margin: 60px auto 100px auto;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.hero-section__content-box--cloud .actual-image {
  height: inherit;
}

.hero-section__content-box .image-container {
  position: relative;
  width: 80%;
  margin: auto;
}

.hero-section__content-box .image-container img {
  width: 100%;
}

.hero-section__content-box .image-container .primary-image {
  position: absolute;
  width: 50%;
  margin: auto;
  top: 30%;
  left: 45%;
  scale: 1.1;
  -webkit-transform: translate(-40%, -40%) translateZ(0px);
          transform: translate(-40%, -40%) translateZ(0px);
  z-index: 1;
  -webkit-transition: 300ms ease-out scale;
  transition: 300ms ease-out scale;
}

.hero-section__content-box .image-container .secondary-images {
  width: 80%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 70px;
  grid-gap: 70px;
}

.hero-section__content-box .image-container .secondary-images .image-label {
  display: none;
}

.hero-section__content-box .image-container .secondary-images .primary-image {
  opacity: 1 !important;
}

.hero-section__content-box .image-container .secondary-images .primary-image .image-label {
  display: block;
  text-align: center;
  margin-top: 0.8rem;
}

.hero-section__content-box .image-container .secondary-images__shot_2, .hero-section__content-box .image-container .secondary-images__shot_3, .hero-section__content-box .image-container .secondary-images__shot_1 {
  opacity: 0.6;
}

.hero-section__content-box .position-trackers {
  margin-top: 8rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (12px)[3];
      grid-template-columns: repeat(3, 12px);
  grid-gap: 10px;
  gap: 10px;
}

.hero-section__content-box .position-trackers .tracker {
  border-radius: 50%;
  border: 2px solid white;
  height: 12px;
  -webkit-transition: ease-in-out 200ms all;
  transition: ease-in-out 200ms all;
  cursor: pointer;
}

.hero-section__content-box .position-trackers .tracker.in-focus {
  background-color: white;
}

.hero-section__content-box .hero-carousel-body {
  width: 80%;
  margin: 80px auto 0px auto;
}

.hero-section__content-box .hero-carousel-body .carousel-body {
  -webkit-animation: fade-in 400ms ease-out 0s 1 alternate forwards;
          animation: fade-in 400ms ease-out 0s 1 alternate forwards;
  display: none;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  gap: 10px;
  grid-gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-section__content-box .hero-carousel-body .carousel-body.in-focus {
  display: -ms-grid;
  display: grid;
}

@-webkit-keyframes fade-in {
  from {
    -webkit-transform: translateY(20px) translateZ(0px);
            transform: translateY(20px) translateZ(0px);
    opacity: 0.4;
  }
  to {
    -webkit-transform: translateY(0px) translateZ(0px);
            transform: translateY(0px) translateZ(0px);
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    -webkit-transform: translateY(20px) translateZ(0px);
            transform: translateY(20px) translateZ(0px);
    opacity: 0.4;
  }
  to {
    -webkit-transform: translateY(0px) translateZ(0px);
            transform: translateY(0px) translateZ(0px);
    opacity: 1;
  }
}

.hero-section__content-box .hero-carousel-body .carousel-body .carousel-body-grid-image {
  width: 100%;
}

.hero-section__content-box .hero-carousel-body .carousel-body .grid-col-one.scale-list-item {
  background-image: url("../images/scale-picture.png");
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: 0px 30px;
  padding-left: 70px;
}

.hero-section__content-box .hero-carousel-body .carousel-body .grid-col-one .body-item {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  grid-gap: 10px;
}

.hero-section__content-box .hero-carousel-body .carousel-body .grid-col-one .body-item__image {
  height: 50px;
}

.hero-section__content-box .hero-carousel-body .carousel-body .grid-col-one .body-item__title {
  color: #ACD7FF;
  font-size: 1.5rem;
  font-weight: 900;
}

.hero-section__content-box .hero-carousel-body .carousel-body .grid-col-one .body-item__title.pink {
  color: #FECFC5;
}

.hero-section__content-box .hero-carousel-body .carousel-body .grid-col-one .body-item__title.linear-red-yellow {
  background: -webkit-gradient(linear, right top, left top, color-stop(31.81%, #E6BF5C), color-stop(94.39%, #F06F6F));
  background: linear-gradient(270deg, #E6BF5C 31.81%, #F06F6F 94.39%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.hero-section__content-box .hero-carousel-body .carousel-body .grid-col-one .body-item__title.linear-yellow-blue {
  background: -webkit-gradient(linear, right top, left top, color-stop(23.88%, #85E3C1), color-stop(94.39%, #F0E36F));
  background: linear-gradient(270deg, #85E3C1 23.88%, #F0E36F 94.39%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.hero-section__content-box .hero-carousel-body .carousel-body .grid-col-one .body-item__title.linear-blue-blue {
  background: -webkit-gradient(linear, right top, left top, color-stop(54.13%, #52ACFF), color-stop(94.39%, #7CE0E7));
  background: linear-gradient(270deg, #52ACFF 54.13%, #7CE0E7 94.39%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.hero-section__content-box .hero-carousel-body .carousel-body .grid-col-one .body-item__title.yellow {
  color: #F9FFD4;
}

.hero-section__content-box .hero-carousel-body .carousel-body .grid-col-one .body-item__caption {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.933);
}

.hero-section__content-box .hero-carousel-body .carousel-body .grid-col-two .carousel-one-image {
  margin-top: 1.8rem;
  display: block;
}

.body-section-one__content-box--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 80px auto;
}

.body-section-one__content-box--header .logo {
  height: 40px;
}

.body-section-one__content-box--header .logo .actual-image {
  height: inherit;
}

.body-section-one__content-box--header .title {
  font-weight: 800;
  font-size: 1.8rem;
  border-left: 3px solid #075BBD;
  color: #075BBD;
  padding-left: 1.4rem;
  margin-left: 1.4rem;
}

.body-section-one__content-box--body {
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 20px rgba(7, 91, 189, 0.3);
          box-shadow: 0px 4px 20px rgba(7, 91, 189, 0.3);
  padding: 100px 0px;
  width: 95%;
  margin: 100px auto;
}

.body-section-one__content-box--body .body-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  grid-gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-section-one__content-box--body .body-item:nth-child(2) {
  margin-top: -42%;
}

.body-section-one__content-box--body .body-item:nth-child(3) {
  margin-top: -42%;
}

.body-section-one__content-box--body .body-item-graphic {
  height: 200px;
}

.body-section-one__content-box--body .body-item-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  grid-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: -10px;
}

.body-section-one__content-box--body .body-item-name .item-actual-name {
  font-weight: 700;
}

.body-section-one__content-box--body .body-item-name .item-icon {
  height: 25px;
}

.body-section-two {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  grid-gap: 20px;
  min-height: 400px;
  margin: 120px auto;
}

.body-section-two .grid-col-one .iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.body-section-two .grid-col-one .column-image {
  width: 100%;
}

.body-section-two .grid-col-two {
  width: 100%;
}

.body-section-two .grid-col-two .column-header__number {
  color: #075BBD;
  font-weight: 800;
  font-size: 2em;
  margin-bottom: 15px;
}

.body-section-two .grid-col-two .column-header__title {
  font-weight: 800;
  font-size: 1.7em;
  margin-bottom: 15px;
}

.body-section-two .grid-col-two .column-header__caption {
  color: #595959;
  font-weight: 500;
  margin-bottom: 30px;
  line-height: 1.6em;
}

.body-section-two .grid-col-two .column-body {
  width: 100%;
  margin: 30px auto;
}

.body-section-two .grid-col-two .column-body__image {
  width: inherit;
}

.body-section-two .grid-col-two .column-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 10px;
}

.body-section-two .grid-col-two .column-action .site-logo {
  height: 20px;
}

.body-section-two .grid-col-two .column-action .tm-logo {
  height: 10px;
  position: absolute;
  right: -13px;
  top: 0;
}

.body-section-two .grid-col-two .column-action .action {
  position: relative;
  font-weight: 700;
  font-size: 1.2rem;
  color: #075BBD;
}

.body-section-two .grid-col-two .column-brand-images .brand-image {
  height: 30px;
  margin: 2px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  cursor: pointer;
  -webkit-transition: 200ms ease-in-out filter;
  transition: 200ms ease-in-out filter;
}

.body-section-two .grid-col-two .column-brand-images .brand-image:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
/*# sourceMappingURL=home.css.map */